{% extends base_template %}

{% block title %}Change Password{% endblock %}

{% block content %}


<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
        <div class="card shadow " style="background-color: #FCFDE0;">
            <div class="card-body p-4">
                <h2 class="card-title text-center mb-4">
                    Edit Profile
                </h2>

                <form method="POST">
            <div class="mb-3">
                <label>Current Password</label>
                <input type="password" name="current_password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>New Password</label>
                <input type="password" name="new_password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Confirm New Password</label>
                <input type="password" name="confirm_password" class="form-control" required>
            </div>
            <div class="d-grid">
                        <button type="submit" class="btn btn-primary"
                            style="background-color: #F7D6E4; border-color: black;">
                            <i class="bi bi-box-arrow-in-right"></i> Save Changes
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}