{% extends "base_employee.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2 class="card-title text-center mb-4">
        <i class="bi bi-speedometer2"></i> Dashboard
    </h2>

<div class="container mt-5 pt-5 d-flex flex-column align-items-center">
    
    <div class="d-flex justify-content-start gap-4 mb-4">
        <div class="card text-bg-primary" style="max-width: 10rem; border-color: #090004;">
            <div class="card" style="background-color: #E4C5D2; border-color: #E4C5D2;">
                <h2 class="card text-center" style="background-color: #E4C5D2; border-color: #E4C5D2;">{{
                    total_customers }}
                    Total Customers</h2>
            </div>
        </div>
        <div class="card text-bg-primary" style="max-width: 10rem; border-color: #090004;">
            <div class="card" style="background-color: #EBA9C5; border-color: #EBA9C5;">
                <h2 class="card text-center" style="background-color: #EBA9C5; border-color: #EBA9C5;">{{ total_contacts
                    }}
                    Total Contacts</h2>
            </div>
        </div>
    </div>
    <br>

    <div class="d-flex justify-content-start gap-4 mb-4">
        <div class="card text-bg-primary" style="max-width: 10rem; border-color: #090004;">
            <div class="card" style="background-color: #D580A4; border-color: #D580A4;">
                <h2 class="card text-center" style="background-color: #D580A4; border-color: #D580A4;">{{ no_responses
                    }}
                    No responses</h2>
            </div>
        </div>
        <div class="card text-bg-primary" style="max-width: 10rem; border-color: #090004;">
            <div class="card" style="background-color: #AB6784; border-color: #AB6784;">
                <h2 class="card text-center" style="background-color: #AB6784; border-color: #AB6784;">{{
                    active_customers }}
                    Active Customers</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}